[Unit]
Description=mlistd of mMail mailing list support
After=network.target auditd.service

[Service]
ExecStart=/usr/sbin/mlistd
KillMode=process
#Restart=on-failure
RestartPreventExitStatus=255
Type=simple

#[Install]
#WantedBy=multi-user.target
#Alias=sshd.service

